
.my_style .ql-container {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0px;
  position: relative;
}
.my_style .ql-container.ql-disabled .ql-tooltip {
  visibility: hidden;
}
.my_style .ql-container.ql-disabled ul[data-checked] > li::before {
  pointer-events: none;
}
.my_style .ql-clipboard {
  left: -100000px;
  height: 1px;
  overflow-y: hidden;
  position: absolute;
  top: 50%;
}
.my_style .ql-clipboard p {
  margin: 0;
  padding: 0;
}

.my_style p,
ol,
ul,
pre,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.my_style ol,
ul {
  padding-left: 1.5em;
}
.my_style ol > li,
ul > li {
  list-style-type: none;
}
.my_style ul > li::before {
  content: "\2022";
}
.my_style ul[data-checked="true"],
ul[data-checked="false"] {
  pointer-events: none;
}
.my_style ul[data-checked="true"] > li *,
ul[data-checked="false"] > li * {
  pointer-events: all;
}
.my_style ul[data-checked="true"] > li::before,
ul[data-checked="false"] > li::before {
  color: #777;
  cursor: pointer;
  pointer-events: all;
}
.my_style ul[data-checked="true"] > li::before {
  content: "\2611";
}
.my_style ul[data-checked="false"] > li::before {
  content: "\2610";
}
.my_style li::before {
  display: inline-block;
  white-space: nowrap;
  width: 1.2em;
}
.my_style li:not(.ql-direction-rtl)::before {
  margin-left: -1.5em;
  margin-right: 0.3em;
  text-align: right;
}
.my_style li.ql-direction-rtl::before {
  margin-left: 0.3em;
  margin-right: -1.5em;
}
.my_style ol li:not(.ql-direction-rtl),
ul li:not(.ql-direction-rtl) {
  padding-left: 1.5em;
}
.my_style ol li.ql-direction-rtl,
ul li.ql-direction-rtl {
  padding-right: 1.5em;
}
.my_style ol li {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  counter-increment: list-0;
}
.my_style ol li:before {
  content: counter(list-0, decimal) ". ";
}
.my_style ol li.ql-indent-1 {
  counter-increment: list-1;
}
.my_style ol li.ql-indent-1:before {
  content: counter(list-1, lower-alpha) ". ";
}
.my_style ol li.ql-indent-1 {
  counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.my_style ol li.ql-indent-2 {
  counter-increment: list-2;
}
.my_style ol li.ql-indent-2:before {
  content: counter(list-2, lower-roman) ". ";
}
.my_style ol li.ql-indent-2 {
  counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.my_style ol li.ql-indent-3 {
  counter-increment: list-3;
}
.my_style ol li.ql-indent-3:before {
  content: counter(list-3, decimal) ". ";
}
.my_style ol li.ql-indent-3 {
  counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
}
.my_style ol li.ql-indent-4 {
  counter-increment: list-4;
}
.my_style ol li.ql-indent-4:before {
  content: counter(list-4, lower-alpha) ". ";
}
.my_style ol li.ql-indent-4 {
  counter-reset: list-5 list-6 list-7 list-8 list-9;
}
.my_style ol li.ql-indent-5 {
  counter-increment: list-5;
}
.my_style ol li.ql-indent-5:before {
  content: counter(list-5, lower-roman) ". ";
}
.my_style ol li.ql-indent-5 {
  counter-reset: list-6 list-7 list-8 list-9;
}
.my_style ol li.ql-indent-6 {
  counter-increment: list-6;
}
.my_style ol li.ql-indent-6:before {
  content: counter(list-6, decimal) ". ";
}
.my_style ol li.ql-indent-6 {
  counter-reset: list-7 list-8 list-9;
}
.my_style ol li.ql-indent-7 {
  counter-increment: list-7;
}
.my_style ol li.ql-indent-7:before {
  content: counter(list-7, lower-alpha) ". ";
}
.my_style ol li.ql-indent-7 {
  counter-reset: list-8 list-9;
}
.my_style ol li.ql-indent-8 {
  counter-increment: list-8;
}
.my_style ol li.ql-indent-8:before {
  content: counter(list-8, lower-roman) ". ";
}
.my_style ol li.ql-indent-8 {
  counter-reset: list-9;
}
.my_style ol li.ql-indent-9 {
  counter-increment: list-9;
}
.my_style ol li.ql-indent-9:before {
  content: counter(list-9, decimal) ". ";
}
.my_style .ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 3em;
}
.my_style li.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 4.5em;
}
.my_style .ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 3em;
}
li.ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 4.5em;
}
.my_style .ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 6em;
}
.my_style li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 7.5em;
}
.my_style .ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 6em;
}
.my_style li.ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 7.5em;
}
.my_style .ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 9em;
}
.my_style li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 10.5em;
}
.my_style .ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 9em;
}
.my_style li.ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 10.5em;
}
.my_style .ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 12em;
}
.my_style li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 13.5em;
}
.my_style .ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 12em;
}
.my_style li.ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 13.5em;
}
.my_style .ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 15em;
}
.my_style li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 16.5em;
}
.my_style .ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 15em;
}
.my_style li.ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 16.5em;
}
.my_style .ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 18em;
}
.my_style li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 19.5em;
}
.my_style .ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 18em;
}
.my_style li.ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 19.5em;
}
.my_style .ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 21em;
}
.my_style li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 22.5em;
}
.my_style .ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 21em;
}
.my_style li.ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 22.5em;
}
.my_style .ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 24em;
}
.my_style li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 25.5em;
}
.my_style .ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 24em;
}
.my_style li.ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 25.5em;
}
.my_style .ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 27em;
}
.my_style li.ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 28.5em;
}
.my_style .ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 27em;
}
.my_style li.ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 28.5em;
}
.my_style .ql-video {
  display: block;
  max-width: 100%;
}
.my_style .ql-video.ql-align-center {
  margin: 0 auto;
}
.my_style .ql-video.ql-align-right {
  margin: 0 0 0 auto;
}
.my_style .ql-bg-black {
  background-color: #000;
}
.my_style .ql-bg-red {
  background-color: #e60000;
}
.my_style .ql-bg-orange {
  background-color: #f90;
}
.my_style .ql-bg-yellow {
  background-color: #ff0;
}
.my_style .ql-bg-green {
  background-color: #008a00;
}
.my_style .ql-bg-blue {
  background-color: #06c;
}
.my_style .ql-bg-purple {
  background-color: #93f;
}
.my_style .ql-color-white {
  color: #fff;
}
.my_style .ql-color-red {
  color: #e60000;
}
.my_style .ql-color-orange {
  color: #f90;
}
.my_style .ql-color-yellow {
  color: #ff0;
}
.my_style .ql-color-green {
  color: #008a00;
}
.my_style .ql-color-blue {
  color: #06c;
}
.my_style .ql-color-purple {
  color: #93f;
}
.my_style .ql-font-serif {
  font-family: Georgia, Times New Roman, serif;
}
.my_style .ql-font-monospace {
  font-family: Monaco, Courier New, monospace;
}
.my_style .ql-size-small {
  font-size: 0.75em;
}
.my_style .ql-size-large {
  font-size: 1.5em;
}
.my_style .ql-size-huge {
  font-size: 2.5em;
}
.my_style .ql-direction-rtl {
  direction: rtl;
  text-align: inherit;
}
.my_style .ql-align-center {
  text-align: center;
}
.my_style .ql-align-justify {
  text-align: justify;
}
.my_style .ql-align-right {
  text-align: right;
}
.my_style .ql-blank::before {
  color: rgba(0, 0, 0, 0.6);
  content: attr(data-placeholder);
  font-style: italic;
  left: 15px;
  pointer-events: none;
  position: absolute;
  right: 15px;
}

.my_style h1 {
  font-size: xx-large;
  font-weight: 600;
}

.my_style h2 {
  font-size: x-large;
  font-weight: 500;
}

.my_style a {
  text-decoration: underline solid red;
  text-underline-offset: 4px;
}
