/* Reset default margins and paddings for all elements */
 p,
 ol,
 ul,
 pre,
 blockquote,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  margin: 0;
  padding: 0;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}



/* Apply general font and line-height to the whole document */

/* Styling for headings */
h1 {
  font-size: 28px; /* Updated font size */
}

h2 {
  font-size: 24px; /* Updated font size */
}

h3 {
  font-size: 20px; /* Updated font size */
}

/* Styling for paragraphs */
p {
  font-size: 16px; /* New font size */
  line-height: 1.5; /* New line height */
}

/* Styling for unordered and ordered lists */
ul, ol {
  margin-bottom: 15px;
  padding-left: 20px;
}

/* Styling for list items */
li {
  font-size: 16px; /* New font size */
}

/* Add bullets for unordered lists */
ul {
  list-style-type: square; /* Updated list style */
}

/* Add numbering for ordered lists */
ol {
  list-style-type: lower-alpha; /* Updated list style */
}


/* Apply general styling to paragraphs and headings */
h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Style headings */
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

/* Style paragraphs */
p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Style strong (bold) text */
strong {
  font-weight: bold;
}

/* Style emphasized (italics) text */
em {
  font-style: italic;
}

/* Style underlined text */
u {
  text-decoration: underline;
}

/* Style strikethrough text */
s {
  text-decoration: line-through;
}

/* Style blockquote */
blockquote {
  margin: 10px 0;
  padding: 10px;
  border-left: 2px solid #ccc;
  background-color: #f9f9f9;
}

/* Style indented paragraph */
.ql-indent-1 {
  margin-left: 20px;
}


